table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #38678f;
  margin: 50px auto;
  background: white;
}
th {
  background: rgba(0,0,0,0.4);
  height: 1.5em !important;
  font-size: 1.2em !important;
  font-weight: lighter;
  text-shadow: 0 1px 0 #000;
  color: white;
  border: 1px solid #000;
  transition: all 0.2s;
}
tr {
  border-bottom: 1px solid #000 !important;
}
tr:last-child {
  border-bottom: 0px;
}
td {
  border-right: 1px solid #000;
  padding: 10px;
  font-size: 1.2em !important;
  transition: all 0.2s;
  overflow:auto;word-wrap: break-word;
}
td:last-child {
  border-right: 0px;
}
td.selected {
  background: #d7e4ef;
  z-index: ;
}
.heavyTable {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  animation: float 5s infinite;
}