DirectoryIndex index.php
Options +FollowSymLinks -MultiViews
# Turn mod_rewrite on

RewriteCond %{REQUEST_URI} !(/$|\.) 
RewriteRule (.*) %{REQUEST_URI}/ [R=301,L] 

RewriteEngine on 
RewriteRule ^articles/(.*)/$ article.php?page=$1 [L]
#RewriteRule ^pages/(.*)/$ page.php?page=$1 [L]

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^crops/(.*)/(.*)/$ crops/$1.php?stage=$2 [QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^crops/(.*)/$ crops/$1.php [L]

